@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #8486a9;
  font-size: 14px;
  font-family: "Red Hat Text", sans-serif;
}

.hidden {
  display: none !important;
}

a {
  color: inherit;
  color: #a1a2c7;
  transition: color 250ms;
}

a:focus,
a:hover {
  color: #fb6087;
}

.rounded {
  border-radius: 5px;
}

@media screen and (min-width: 756px) and (min-height: 420px) {
  .rounded {
    border-radius: 9px;
  }
}
