html {
  height: 100%;
}
body {
  height: 100%;
  min-height: 320px;
}

.minimum-whole-screen {
  width: 100%;
  height: 100%;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.main {
  padding-top: 21.3vh;
  padding-top: 21.3svh;
  flex: 1;
}

@media screen and (min-width: 756px) {
  .main {
    padding-top: 17vh;
    padding-top: 17svh;
  }
}

.cards-row {
  display: flex;
  align-items: flex-center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 6px;
}

@media screen and (min-width: 245px) {
  .cards-row {
    gap: 6px;
  }
}
@media screen and (min-width: 320px) {
  .cards-row {
    gap: 16px;
  }
}
@media screen and (min-width: 756px) and (min-height: 420px) {
  .cards-row {
    gap: 32px;
  }
}

@media screen and (min-width: 1500px) {
  .cards-row {
    gap: 48px;
  }
}
