html {
  /* bg-0 */
  background: #1a1823;
}

.bg-1 {
  background: rgba(26, 24, 35, 0.712);
  background: linear-gradient(0deg, rgba(53, 32, 70, 0.438) 0%, #1e1e287a 70%);
  /* background-repeat: no-repeat; */
}

.bg-2 {
  background-image: url("../images/bg-stars.svg");
}

.bg-3 {
  background-image: url("../images/pattern-hills.svg");
  background-position-x: 125vw;
  background-position-y: 100%;
  background-size: 154vh;
  background-attachment: fixed;
  background-repeat: repeat-x;
}

@media screen and (min-width: 776px) {
  .bg-3 {
    background-position: center bottom;
    background-size: 100% 25vh;
  }
}
